@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  }

label {
  font-size: .75rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .65rem;
}

.animated{
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes example {
  0%   {bottom:0px;}
  
  50%  {bottom:45px;}
  
  100% {bottom:0px;}
}

@media (max-width: 600px){
  .animated{
    display: none;
  }
}